<%- include('../partials/header.ejs'); -%>

<section class="mx-auto h-screen w-[95%] px-4 sm:px-6 xl:px-0">
  <article>
    <div class="divide-y">
      <header class="pt-6 pb-4 xl:pb-6">
        <div class="space-y-1 text-center">
          <dl class="space-y-10">
            <div>
              <dt class="sr-only">Published on</dt>
              <dd
                class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400"
              >
                <time datetime="2023-11-08T00:00:00.000Z"
                  ><%= entry.entryDate %></time
                >
              </dd>
            </div>
          </dl>
          <div>
            <h1
              class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-14"
            >
              <%= entry.entryTitle %>
            </h1>
          </div>
        </div>
      </header>
      <div
        class="grid-rows-[auto_1fr] divide-y divide-gray-200 pb-8 dark:divide-gray-700 xl:grid xl:grid-cols-4 xl:gap-x-6 xl:divide-y-0"
      >
        
        <div
          class="divide-y divide-gray-200 dark:divide-gray-700 xl:col-span-3 xl:row-span-2 xl:pb-0"
        >
          <div class="prose max-w-none pb-8 pt-10 dark:prose-invert">
            <p><%= entry.entryBody %></p>
      </div>
    </div>
  </article>
</section>

<%- include('../partials/footer.ejs'); -%>
